<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByPNT7S55yiyDfnxYeeCAzy7dItyyXZ9s&callback=myMap"></script>
    <script>
      function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(11.570771, 104.888529),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }

        // var marker = new google.maps.Marker({
        //   position: {104.888529, 11.570772},
        //   map: mapOptions,
        //   title: 'Here'
        // });

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      }
    </script>

  </head>
  <body onload="myMap()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Personal Cinema</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contact
              <span class="sr-only">(current)</span>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h1 class="text-white my-4 text-center text-lg-left">Contact Us</h1>
      <p class="text-white">
          Address: # 888, St. 2004 , Sangkat Teuk Thla, Khan Sen Sok, Phnom Penh Cambodia</br>
          Contact Number: +855 NN NNN NNN</br>
          Email: email@domain.com</br>
          Facebook's Page: Personal Cinema</br>
          Open hour: 8:00AM - 9:00PM</br>
    </p>
    </br>
    <div id="map" style="width:100%; height:500px;">
    </div>
    <!-- /.container -->
    <hr class="text-white"></hr>
    <!-- Footer -->
    <footer class="footer py-2 rounded">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Personal Cinema 2017</p>
      </div>
    </footer>
  </body>

</html>
